.cardImage {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.cardBody {
  box-sizing: border-box;
  padding: 0.5rem 1rem 1rem 1rem;
  width: 100%;
}

.cardTitle {
  font-size: 0.875rem;
  font-weight: 800;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cardUser {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 8rem);
}

.cardUser img {
  margin-right: 0.875rem;
}

.cardAvatar {
  border-radius: 50%;
  display: block;
  height: 2rem;
  width: 2rem;
}

.cardActionIcons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7.5rem;
}

.cardActionIcons img {
  box-sizing: border-box;
  display: block;
  height: 1.5rem;
  padding: 0.2rem;
  width: 1.5rem;
}

.photoContainer {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}
