.card {
  width: 20rem;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.cardBody {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.cardTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 0.875rem;
}

.cardAvatar {
}

.cardActionIcons {
}

.cardText {
}
