* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-main);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  line-height: 1.5rem;
}

